<galaxy-navigation-component></galaxy-navigation-component>
<h3>Spieleinstellungen</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    Spielname: <input type="string" formControlName="PlayName" /><br />
    Abstand zu den Spielern: <input type="number" formControlName="DistanceLevelHomes" /><br />
    Anzahl Flotten in Spiel: <input type="number" formControlName="FleetCount" /><br />
    Anzahl Flotten auf Heimatwelt am Anfang des Spiels: <input type="number"
        formControlName="FleetsOnHomeWorld" /><br />
    Anzahl Schiffe für Flotten auf Heimatwelt am Anfang des Spiels: <input type="number"
        formControlName="StartShipCount" /><br />
    Anzahl Welten im Spiel: <input type="number" formControlName="WorldsCount" /><br />
    <h4>Spieler-Liste</h4>
    <ol>
        <li *ngFor="let player of players">{{ player }}</li>
    </ol>
    <form [formGroup]="playerForm" (ngSubmit)="onSubmitPlayer()">
        Spieler-Name: <input type="string" formControlName="PlayerName" />
        <button>Spieler zufügen</button>
    </form>
    <span [hidden]="!form.get('WorldsCount').hasError('required')"><font color="#FF0000">Anzahl Welten im Spiel ist erforderlich</font></span><br />
    <button [disabled]="!form.valid">Speichern</button>
</form>