<ul>
    <li><a routerLinkActive="active" routerLink="/admin/create-game">Create Game</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/show-game">Show Game</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/show-player">Show Player</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/world-list">World List</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/create-worlds">Create Worlds</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/player">Player</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/set-admin">Set Admin</a></li>
    <li><a (click)="logout()">Logout Admin</a></li>
</ul>
